<header></header>
<div class="container my-4">
  <div class="d-flex justify-content-between flex-column flex-lg-row">
    <div class="d-flex justify-content-start align-items-center">
      <svg
        ng-if="repo.parent"
        aria-label="fork"
        class="octicon octicon-repo-forked"
        viewBox="0 0 10 16"
        version="1.1"
        width="10"
        height="16"
        role="img"
      >
        <path
          fill-rule="evenodd"
          d="M8 1a1.993 1.993 0 00-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 002 1a1.993 1.993 0 00-1 3.72V6.5l3 3v1.78A1.993 1.993 0 005 15a1.993 1.993 0 001-3.72V9.5l3-3V4.72A1.993 1.993 0 008 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"
        ></path>
      </svg>
      <svg
        ng-if="!repo.parent"
        class="octicon octicon-repo"
        viewBox="0 0 12 16"
        version="1.1"
        width="10"
        height="16"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"
        ></path>
      </svg>
      <h4 class="h-5 mx-2 mt-2">{{repo.owner.login}} / {{repo.name}}</h4>
    </div>
    <ul class="list-group list-unstyled d-flex flex-row align-items-center">
      <li ng-click="fork()">
        <span
          type="button"
          class="btn btn-outline-secondary tooltipped tooltipped-sw"
        >
          <svg
            class="octicon octicon-repo-forked v-align-text-bottom"
            viewBox="0 0 10 16"
            version="1.1"
            width="10"
            height="16"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M8 1a1.993 1.993 0 00-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 002 1a1.993 1.993 0 00-1 3.72V6.5l3 3v1.78A1.993 1.993 0 005 15a1.993 1.993 0 001-3.72V9.5l3-3V4.72A1.993 1.993 0 008 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"
            ></path>
          </svg>
          Fork
          <small>{{repo.network_count}}</small>
        </span>
      </li>
      <li>
        <span
          type="button"
          class="btn btn-outline-secondary tooltipped tooltipped-sw ml-2"
        >
          <svg
            class="octicon octicon-eye v-align-text-bottom"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            height="16"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"
            ></path>
          </svg>
          Whatch
          <small>{{repo.watchers_count}}</small>
        </span>
      </li>
      <li ng-show="repo.has_issues">
        <a
          type="button"
          class="btn btn-outline-secondary ml-2"
          ng-href="/repository/{{user}}/{{name}}/issues"
          >Issues
          <small>{{repo.open_issues}}</small>
        </a>
      </li>
    </ul>
  </div>
  <small ng-if="repo.parent" class="d-block my-2"
    >Forked from
    <a
      class="muted-link"
      ng-href="/repository/{{repo.parent.full_name}}/content"
    >
      {{repo.parent.full_name}}
    </a>
  </small>
  <br />
  <span>
    {{repo.description || "No description, website, or topics provided."}}
  </span>
  <ul class="list-group my-3">
    <li ng-if="!repo.parent" class="list-group-item list-header">
      <small> {{repo.owner.login}} create {{repo.name}}</small>
    </li>
    <li ng-if="repo.parent" class="list-group-item list-header">
      <small> {{repo.parent.owner.login}} create {{repo.name}}</small>
    </li>
    <li ng-repeat="content in  data track by $index" class="list-group-item">
      <svg
        ng-if="content.type === 'dir'"
        aria-label="directory"
        class="icons octicon octicon-file-directory"
        viewBox="0 0 14 16"
        version="1.1"
        width="14"
        height="16"
        role="img"
      >
        <path
          fill-rule="evenodd"
          d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"
        ></path>
      </svg>
      <svg
        ng-if="content.type === 'file'"
        aria-label="file"
        class="icons octicon octicon-file"
        viewBox="0 0 12 16"
        version="1.1"
        width="12"
        height="16"
        role="img"
      >
        <path
          fill-rule="evenodd"
          d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"
        ></path>
      </svg>
      <a
        ng-if="content.type === 'dir'"
        ng-href="/repository/{{user}}/{{name}}/content/{{content.path}}"
      >
        <small>{{content.name}}</small>
      </a>
      <a ng-if="content.type === 'file'">
        <small>{{content.name}}</small>
      </a>
    </li>
  </ul>

  <br />
</div>
